#Creates PV's for Controlling the relays
record(bo, "$(device):put-On-Off-$(num)") {
    field(OMSL, "supervisory")
    field(PINI, "YES")
    field(DESC, "$(desc):$(num)")
    field(VAL,  "0")
    field(ZNAM, "Off")    
    field(ZSV, "MAJOR")
    field(ONAM, "On")     
    field(OUT,  "$(module):$(chan):OUTPUT PP")
}